* {
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Non-prefixed version, currently supported by Chrome, Opera and Safari */
}

body {
    background-color: #121212; /* Dark gray background color */
    color: #ffffff;           /* White text color for better contrast */
    font-family: 'Roboto', Arial, sans-serif; /* Modern font */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, p {
    margin: 20px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    margin-bottom: 10px;
    display: inline-block;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #6200ee;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

#result {
    text-align: center;
    margin-top: 20px;
}

/* Add a smooth transition effect */
* {
    transition: all 0.3s ease-in-out;
}

/* New CSS for the red border effect */
body.simulation-success::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px; /* Adjust padding to control the size of the animated border */
    z-index: 9999; /* Ensure overlay is above all other content */
    pointer-events: none; /* Allow clicks to pass through the overlay */
    background: radial-gradient(circle, transparent, transparent 50%, red 70%);
    border: 10px solid transparent;
    box-shadow: 0 0 0 9999px rgba(255, 0, 0, 0.4); /* Adjust the last value (0.4) to control the fade intensity */
}

@keyframes borderFade {
    from {
        transform: scale(0); /* Start with no size */
        opacity: 1; /* Fully opaque */
    }
    to {
        transform: scale(1); /* Scale to full size */
        opacity: 0; /* Fade out */
    }
}